.fs-1{
    width: 190px;
    height: 470px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    position: relative;
    /* display: none; */
}
.fs-1 .fs-menu {
    background-color: #fff;
    height: 470px;
    position: relative;
 }
 .fs-1 .fs-menu li{
     height: 23px;
     line-height: 23px;
     padding-left: 18px;
     overflow: hidden;
     width: 172px;
    
 }
 .fs-1 .fs-menu .cate_menu_lk {
    color: #333;
    font-size: 14px;
}
.fs-1 .fs-menu li.cate_menu_on {
    background-color: #d9d9d9;
}
.fs-1 .cate_menu_content {
    width: 998px;
    position: absolute;
    left: 190px;
    top: 0;
    min-height: 310px;
    z-index: 100;
    min-height: 440px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    -webkit-box-shadow: 2px 0 5px rgba(0,0,0,.3);
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    padding: 20px 0 10px;
    display: none;
}
.cate_channel {
    padding-left: 20px;
    height: 24px;
    margin-bottom: 10px;
}
.cate_channel_lk {
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}
.fs-2{
    width: 790px;
    height: 470px;
    float: left;
}

.fs-3{
    width: 190px;
    height: 470px;
    float: right;
    background-color: #fff;
}

.sliderBannerWrapper {
    width: 590px;
    height: 470px;
    margin-right: 10px;
    float: left;
}
.sliderRecommendWrapper {
    width: 190px;
    height: 470px;
    float: left;
    overflow: hidden;
}

.focus-item__core {
    display: inline-block;
    margin-right: 10px;
    width: 590px;
    height: 470px;
}
.focus-item__core .focus-item-img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.focus-item__recommend {
    width: 190px;
    vertical-align: top;
    display: inline-block;
    height: 470px;
  }
  .focus-item__recommend .recommend-item {
    height: 150px;
    display: block;
    margin-bottom: 10px;
  }
  .focus-item__recommend .recommend-item__image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .index-iconfont.cate_channel_arrow,.index-iconfont.cate_detail_tit_arrow{
      font-size: 11px;
  }

  .cate_detail_item .cate_detail_tit{
    font-weight: 700;
    text-align: right;
    width: 80px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    top: 3px;
    
  }
  .cate_detail_item {
      position: relative;
      line-height: 37px;
      height: 37px;
  }
  
  .cate_detail_item .cate_detail_con{
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    left: 80px;
    top: 8px;
    line-height: 16px;
  }

  .cate_detail .cate_detail_con_lk{
      margin-right: 10px;
      white-space: nowrap;
  }

  .user{
      height: 102px;
      background-color: #fff;
      position: relative;
  }

  .user .user_avatar{
      position: absolute;
      left: 20px;
      top: 13px;
      width: 44px;
      height: 44px;
  }

  .user .user_avatar_lk{
      display: block;
      width: 40px;
      height: 40px;
  }

  .user .user_avatar_lk img{
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 50%;
  }

  .user_show{
      position: absolute;
      left: 77px;
      top: 16px;
  }

  .user_show p {
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.user .user_profit{
    height: 25px;
    font-size: 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.user .user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
}

.user .user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}

.user::after {
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
    bottom: 0;
}

.news {
    overflow: hidden;
    height: 130px;
    background: #fff;
}
.news .news-hd{
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}
.news .news-hd .news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
    position: absolute;
    top: -14px;
}

.news .news-hd .news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.news .news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}
.news .news_item {
    max-width: 160px;
    width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}

.index-iconfont.icon{
    font-size: 10px;
}

.service_entry {
    overflow: hidden;
    padding: 5px .5px;
    background: #fff;
}

.service {
    overflow: hidden;
    position: relative;
    height: 238px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.service_list {
    margin-top: 5px;
    height: 225px;
    overflow: hidden;
}

.service_frame {
    overflow: visible;
}
.service_item {
    position: relative;
    float: left;
    width: 63px;
    height: 55px;
    background: #fff;
    text-align: center;
    
}
.service_item:hover .service_ico_img_hover {
    visibility: visible;
    opacity: 1;
}
em, i {
    font-style: normal;
}

.service_ico, .service_ico_img {
    display: block;
}
.service_ico {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.service_ico_img, .service_ico_img_hover {
    width: 28px;
    height: 28px;
}

.service_ico_img_hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.service_corner_txt {
    vertical-align: top;
}

.service_corner {
    position: absolute;
    right: 5px;
    top: 0;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #e1251b;
    color: #fff;
    z-index: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

img {
    border: 0;
    vertical-align: middle;
}

.service_lk {
    display: block;
    position: relative;
    *cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: #fff;
}
.service_pop{
    position: absolute;
    width: 100%;
    height: 206px;
    background-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    top: 232px;
    z-index: 1000;
}
.service_pop_close {
    text-align: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -10px;
    font-size: 14px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.service_pop_close:hover{
    background-color: #c81623;
    color: #fff;
}

.service_item.service_frame_on .service_lk span {
    position: relative;
    color: #e1251b;
}
.service_item.service_frame_on .service_lk span::after{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 24px;
    background-color: #e1251b;
    height: 2px;
    left: 0;
}